@import '~styles/layout';

.eventBasicInfo {
  --grid-gap: var(--spacing-xl);

  --margin-text: 0 0 var(--spacing-l);
}

.eventBasicInfo {
  .durationRow {
    display: grid;
    grid-gap: var(--grid-gap);

    @include respond_above(m) {
      grid-template-columns: 1fr 1.5fr 1.5fr;
    }
  }

  .description {
    margin: var(--margin-text);
  }
}
