@import 'layout';

.eventBasicInfo {
  --grid-gap: var(--spacing-xl);

  --margin-text: 0 0 var(--spacing-l);
}

.eventBasicInfo {
  .durationRow {
    display: grid;
    grid-gap: var(--grid-gap);

    @include respond_above(sm) {
      grid-template-columns: 1fr 1.5fr 1.5fr;
    }
  }

  .description {
    margin: var(--margin-text);
    padding-left: var(--spacing-s);
    border-left-style: solid;
    border-left-color: var(--color-silver);
    border-left-width: 5px;
  }
}
