@import 'layout';

.eventBasicInfo {
  --grid-gap: var(--spacing-xl);
}

.eventBasicInfo {
  .durationRow {
    display: grid;
    grid-gap: var(--grid-gap);

    @include respond_above(sm) {
      grid-template-columns: 1fr 1.5fr 1.5fr;
    }
  }

  .neededOccurrencesRow {
    display: grid;
    grid-gap: var(--grid-gap);

    @include respond_above(sm) {
      grid-template-columns: 1fr 1.5fr 1.5fr;
    }
  }
}