.editButton {
  --color-link: var(--color-bus);
  --fontsize-link: var(--fontsize-body-m);
  --fontweight-link: 500;
}

.editButton {
  color: var(--color-link);
  font-size: var(--fontsize-link);
  font-weight: var(--fontweight-link);
  text-decoration: none;
  display: flex;
  justify-content: space-between;

  svg {
    margin-right: 1rem;
  }
}
