*
!.env
!.env.development
!.env.development.local
!.gitignore
!.prettierignore
!.prettierrc.json
!.prod
!.release-please-manifest.json
!codegen.yml
!commitlint.config.js
!eslint.config.mjs
!index.html
!package.json
!printVersion.js
!public
!release-please-config.json
!src
!tsconfig.json
!tsconfig.node.json
!vite.config.ts
!vitest.config.ts
!yarn.lock
