*
!.gitignore
!.prettierignore
!.prettierrc.json
!.prod
!.release-please-manifest.json
!.env.example
!.env.runtime.template
!.env.playwright.local.example
!.env.development.local.example
!codegen.yml
!commitlint.config.js
!eslint.config.mjs
!index.html
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!printVersion.js
!public
!release-please-config.json
!scripts
!scripts/**
!src
!tsconfig.json
!tsconfig.node.json
!vite.config.ts
!vitest.config.ts
