VITE_APP_ORIGIN=
VITE_APP_CMS_URI=
VITE_APP_SENTRY_ENVIRONMENT=
VITE_APP_SENTRY_DSN=
VITE_APP_SENTRY_TRACES_SAMPLE_RATE=
VITE_APP_SENTRY_TRACE_PROPAGATION_TARGETS=
VITE_APP_SENTRY_REPLAYS_SESSION_SAMPLE_RATE=
VITE_APP_SENTRY_REPLAYS_ON_ERROR_SAMPLE_RATE=
VITE_APP_CSP_REPORT_URI=
VITE_APP_API_URI=
VITE_APP_API_REPORT_URI=
VITE_APP_LINKEDEVENTS_API_URI=
VITE_APP_OIDC_AUDIENCES=
VITE_APP_OIDC_RETURN_TYPE=
VITE_APP_OIDC_SERVER_TYPE=
VITE_APP_OIDC_API_CLIENT_ID=
VITE_APP_OIDC_AUTHORITY=
VITE_APP_OIDC_CLIENT_ID=
VITE_APP_OIDC_SCOPE=
VITE_APP_OIDC_AUTOMATIC_SILENT_RENEW_ENABLED=
VITE_APP_HELSINKI_PROFILE_URL=
VITE_APP_IDLE_TIMEOUT_IN_MS=
VITE_APP_APPLICATION_NAME=
VITE_APP_VERSION=
VITE_APP_COMMITHASH=
VITE_APP_BUILDTIME=
VITE_APP_SENTRY_RELEASE=
