# Default environment variables
# See https://create-react-app.dev/docs/adding-custom-environment-variables/#what-other-env-files-can-be-used
#
# Files on the left have more priority than files on the right:
# - npm start: .env.development.local, .env.local, .env.development, .env
# - npm run build: .env.production.local, .env.local, .env.production, .env
# - npm test: .env.test.local, .env.test, .env (note .env.local is missing)
VITE_APP_ORIGIN=http://localhost:3000
# Staging CMS URI:
VITE_APP_CMS_URI=https://kultus.app-staging.hkih.hion.dev/graphql
# Production CMS URI:
# VITE_APP_CMS_URI=https://kultus.content.api.hel.fi/graphql
VITE_APP_SENTRY_DSN=
VITE_APP_ENVIRONMENT=local
VITE_APP_APPLICATION_NAME=$npm_package_name
VITE_APP_VERSION=$npm_package_version

# Environment variables for the development environment:
#
# Copied here from .env.development because docker compose build args doesn't support
# any other files except .env, env_file setting affects environment variables in docker
# compose but it does not affect build args.
#
# So in order to support docker compose build args and environment variables being the
# same they have to either be put them into .env (no other file will suffice, only .env)
# or e.g. set them using a script to the environment before running docker compose.
VITE_APP_API_URI=https://kultus.api.test.hel.ninja/graphql
VITE_APP_API_REPORT_URI=https://kultus.api.test.hel.ninja/reports
VITE_APP_LINKEDEVENTS_API_URI=https://linkedevents.api.test.hel.ninja/v1
VITE_APP_OIDC_AUDIENCES="kultus-api-test,profile-api-test"
VITE_APP_OIDC_RETURN_TYPE=code
VITE_APP_OIDC_SERVER_TYPE=KEYCLOAK
VITE_APP_OIDC_API_CLIENT_ID=kultus-api-test
VITE_APP_OIDC_AUTHORITY=https://tunnistus.test.hel.ninja/auth/realms/helsinki-tunnistus
VITE_APP_OIDC_CLIENT_ID=kultus-admin-ui-dev
VITE_APP_OIDC_SCOPE="openid profile email"
VITE_APP_OIDC_AUTOMATIC_SILENT_RENEW_ENABLED=1
VITE_APP_HELSINKI_PROFILE_URL=https://profiili.test.hel.ninja/loginsso
VITE_APP_IDLE_TIMEOUT_IN_MS=3600000