# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
sonar-report.*

# production
/build

# misc
.DS_Store

# env files
.env
.env.development
.env.development.local
.env.local
.env.playwright
.env.playwright.local
.env.production
.env.production.local
.env.test
.env.test.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# browser test screenshots
/screenshots

# IntelliJ
*.iml

screenshots
report
/.vscode

# Playwright
.auth
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
