// WORKAROUND: Marked all styles !important so they apply even if CSS order varies.
//             Switching from CRA/Craco to Vite might remove the need for this hack.
@import 'layout';
@import 'variables';

@mixin active {
  color: var(--color-white) !important;
  background-color: var(--color-bus) !important;
}

.userMenuDropdown {
  border-color: var(--color-black-90) !important;
}

.dropdownButton {
  min-width: $breakpoint-xs !important;
  text-align: left !important;
  justify-content: left !important;
  max-height: 40px !important;
  --min-size: 40px !important;
  font-weight: normal !important;
  color: var(--color-black-90) !important;

  svg {
    // To make sure the icon size stays the same,
    // even if the text splits on multiple lines
    min-width: var(--icon-size) !important;
    width: var(--icon-size) !important;
    min-height: var(--icon-size) !important;
    height: var(--icon-size) !important;
  }

  &:focus {
    outline-color: var(--color-focus-outline) !important;
  }

  &:hover {
    @include active;
  }
}

.activeDropdownButton {
  @extend .dropdownButton;
  @include active;
}
