@import 'mixins';

@import 'variables';

$logoHeight: 2.5rem;
$logoWidth: 5.5rem;

.navbarTop {
  height: 100%;
  display: flex;
}

.logoWrapper {
  padding: 0.75rem 0;
  margin-right: 5rem;
  flex: 1 1 0%;

  a {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
  }
}

.appName {
  margin-left: 1.875rem;
  font-size: 1.25rem;
  color: var(--color-black);
  font-weight: 600;
}

.logo {
  @include helsinki-logo(var(--color-black));
  background-position: center;
  height: $logoHeight;
  width: $logoWidth;
}

.logoutButton {
  display: flex;
  align-items: center;
  margin-right: 1rem;

  svg {
    margin-left: 0.5rem;
    height: 1.25rem;
    width: 1.25rem;
  }
}
