.dropdownSelectButton {
  border: 2px solid;
  border-color: inherit;
  padding: 0.888em 0.72em;
  font-size: var(--hds-text-md);
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  border-radius: 1px;

  &:focus, &.isOpen {
    border-color: var(--hds-ui-color-black-90);  
  }

  .icon {
    height: 1rem;
    width: 1rem;
    position: absolute;
    right: 0.72em;
  }
  .arrowUp {
    transform: rotate(180deg);
  }

  &.isDisabled {
    color: var(--hds-ui-color-black-40);  
    background-color: var(--hds-ui-color-black-10);  
  }
}

.dropdownSelectMenu {
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  background-color: var(--hds-ui-color-white);
  border-radius: 1px;

  &.isOpen {
    list-style: none;
    padding: 0;
    margin-top: -2px;
    padding-top: 2px;
    outline: none;
    border: 2px solid var(--hds-ui-color-black-90);
    border-top: none;
    z-index: 2;
  };
}

.dropdownSelectMenuItem {
  font-size: var(--hds-text-md);
  padding: 0.888em 0.72em;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover, &.isHighlighted {
    background-color: var(--hds-ui-color-black-10);
  }

  &.isSelected {
    background-color: var(--hds-brand-color-bus);
    color: var(--hds-ui-color-white);
  }

  .checkIcon {
    height: 1rem;
    width: 1rem;
    position: absolute;
    right: 0.72em;
    fill: var(--hds-ui-color-white);
  }
}

.checkmark {
  composes: hds-icon--check from '~hds-core/lib/icons/all.css';

  background-color: transparent;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 1.125rem;
  background-color: transparent;
  height: 1.5rem;
  width: 1.5rem;  
  position: absolute;
}

.dropdownMultiselectMenuItem {
  composes: dropdownSelectMenuItem;

  .checkbox {
    display: flex;
    position: relative;
    cursor: pointer;
    line-height: 1.5rem;
    font-weight: normal;
    user-select: none;
    box-sizing: border-box;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    
    &::before {
      content: "";
      height: 1.5rem;
      width: 1.5rem;
      margin-right: 0.5rem;
      border: 2px solid #c4c4c4;
    }
  }

  &.isHighlighted {
    .checkbox {
      &::before {
        border-color: var(--hds-ui-color-black);
        background-color: var(--hds-ui-color-white);
      }
    }
  }

  &.isChecked {
    .checkbox {
      &::before {
        border-color: var(--hds-brand-color-bus);
        background-color: var(--hds-brand-color-bus);
      }

      .checkmark {
        background-color: var(--hds-ui-color-white);
      }
    }
    &.isHighlighted {
      .checkbox {
        &::before {
          border-color: var(--hds-ui-color-black);
        } 
      }
    }
  }
}


