@import 'layout';

.venueCheckboxFields {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;

  & > * {
    flex: 1 1 30%;
    margin-top: var(--spacing-2-xs);
    margin-right: 1rem;
  }
}

.locationDescriptionFieldsContainer {
  & > div:not(:first-child) {
    margin-top: var(--spacing-m);
  }
}
