@import 'layout';

.eventCategorisation {
  .infoRow {
    display: grid;
    grid-gap: var(--grid-gap);

    @include respond_above(sm) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .eventPriceMultiline {
    white-space: pre-line;
  }
}
