@import 'layout';
@import 'variables';
@import 'colours';

.eventForm {
  display: grid;
  grid-gap: $largeMargin;

  @include respond_above(sm) {
    grid-template-columns: 2fr 1fr;
  }

  h2 {
    font-size: var(--hds-text-lg);
    margin: 2rem 0;
  }

  .durationRow {
    display: grid;
    grid-gap: $largeMargin;

    @include respond_above(sm) {
      grid-template-columns: 1fr 1.5fr 1.5fr;
    }
  }

  .imagePreview {
    margin-bottom: 1rem;

    p {
      font-size: var(--hds-text-sm);
      line-height: var(--hds-text-sm-line-height);
      font-weight: bold;
      margin: 0;
      margin-bottom: 0.2em;
    }
  }

  .eventImage {
    width: 100%;
  }

  .imageSelectRow {
    display: grid;
    grid-gap: $baseMargin;

    @include respond_above(sm) {
      grid-template-columns: 180px 1fr;
    }

    .imageSelect {
      min-width: 180px;
    }

    .imageInstructionsText {
      align-self: center;
      padding-top: 10px;
    }
  }

  .necessaryVisitsRow {
    display: grid;
    grid-gap: $largeMargin;

    @include respond_above(sm) {
      grid-template-columns: 1fr 1.5fr 1.5fr;
    }

    .instructionText {
      line-height: 26px;
      color: #1a1a1a;
      padding-top: 30px;

      @include respond_above(sm) {
        grid-column: 2 / 4;
      }
    }
  }
}
