.bannerHeroContainer {
  position: absolute;
  width: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: var(--spacing-layout-m);
}

.koros {
  fill: var(--background-color-body);
}
