@import './vendor/normalize';
@import 'colours';
@import 'fonts';
@import 'layout';

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

#root {
  flex: 1;
}

:root {
  --fontsize-h-1: 3.25rem; /* 52px */
  --fontsize-h-2: 2.25rem; /* 36px */
  --fontsize-h-3: 1.5rem; /* 24px */
  --fontsize-h-4: 1.25rem; /* 20px */
  --fontsize-h-5: 1.125rem; /* 18px */
}

// Override globally all text to use Helsinki font.
* {
  font-family: $font-family-base;
}
