.table {
  --background-color-cell: var(--color-white);
  --background-color-cell-header: var(--color-black-10);

  --border-color-cell: var(--color-black-10);
  
  --color-cell: var(--color-black-90);
  --color-cell-header: var(--color-black-90);

  --fontsize-cell: var(--fontsize-body-medium);
  --fontsize-cell-header: var(--fontsize-body-medium);

  --margin-bottom-table: var(--spacing-m);
  --spacing-cell: var(--spacing-s);
}
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: var(--margin-bottom-table);

  thead {
    tr {
      th {
        background-color: var(--background-color-cell-header);
        color: var(--color-cell-header);
        font-size: var(--fontsize-cell-header);
        font-weight: normal;
        text-align: left;
        padding: var(--spacing-cell);
      }
    }
  }

  tbody {
    tr {
      td {
        background-color: var(--background-color-cell);
        color: var(--color-cell);
        font-size: var(--fontsize-cell);
        font-weight: normal;
        text-align: left;
        padding: var(--spacing-cell);
        border-bottom: 1px solid var(--border-color-cell);
      }
    }
  }
}