@import 'variables';

.occurrenceInfo {
  --width-icon: 1.5rem;
}

.occurrenceInfo {
  .titleRow {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: var(--spacing-m);
    align-items: center;
  }

  .infoRow {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: var(--spacing-s);
    margin-bottom: var(--spacing-s);

    .iconWrapper {
      margin-top: 0.25rem;
      height: var(--width-icon);
      width: var(--width-icon);
    }
  }
}
