.loginPage {
  align-self: center;
  padding: 5rem 0;

  h1 {
    font-size: var(--fontsize-heading-l);
    margin: -2rem 0 3rem;
  }
}

.contentWrapper {
  justify-self: center;
  text-align: center;
}
