@import 'layout';
@import 'variables';
@import 'colours';

.eventOccurrenceFormTitle {
  font-weight: bold;
  font-size: 1rem;
  border-bottom-color: rgba(0, 0, 0, 0.1);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 1.5em;
}

.eventOccurrenceForm {
  .occurrenceFormRow {
    display: grid;
    margin-bottom: $baseMargin;

    @include respond_above(md) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr 0.5fr;
      grid-gap: $baseMargin;
    }

    .participantRowTitle {
      margin: 0;
      margin-top: 13px;
      align-self: center;
    }
  }

  .locationRow {
    grid-column: 1 / 5;
  }

  .locationDescriptionRow {
    grid-column: 1 / 5;
  }

  .checkboxRow {
    display: flex;
    margin: $baseMargin 0;
    margin-top: -$baseMargin;

    & > * {
      margin-top: 0;
    }

    & > :not(:last-child) {
      margin-right: $baseMargin;
    }
  }

  .formActions {
    display: flex;
    margin-top: $largeMargin 0;

    & > :not(:last-child) {
      margin-right: $baseMargin;
    }
  }
}
