@import '~styles/layout';
@import '~styles/variables';

.occurrencesFormPart {
  h2 {
    font-size: var(--fontsize-heading-s);
    margin-bottom: var(--spacing-m);
  }
}

.noOccurrencesCheckBox {
  margin: var(--spacing-l) 0;
}

.occurrenceFormRow {
  --grid-gap: var(--spacing-s);
  --date-column-width: calc(170px + 100px + var(--grid-gap));

  display: grid;
  grid-gap: var(--grid-gap);
  margin-bottom: var(--spacing-l);

  @include respond_above(l-plus) {
    grid-template-columns: 1fr var(--date-column-width) 100px 180px repeat(
        3,
        100px
      );
  }

  &Multiday {
    @include respond_above(l-plus) {
      grid-template-columns:
        1fr var(--date-column-width) calc(280px + var(--grid-gap))
        repeat(3, 100px);
    }
  }
}

.occurrenceFormDatePart {
  display: grid;
  grid-gap: var(--grid-gap);

  @include respond_above(l-plus) {
    grid-template-columns: 170px 100px;
  }
}

.checkboxRow {
  display: flex;
  margin-bottom: var(--spacing-l);

  div:not(:last-child) {
    margin-right: var(--spacing-m);
  }

  & > div {
    margin-top: 0 !important;
  }
}

.occurrencesTable {
  --background-color-cell: var(--color-white);
  --background-color-cell-header: var(--color-black-10);
  --border-color-cell: var(--color-black-10);
  --color-cell: var(--color-black-90);
  --color-cell-header: var(--color-black-90);
  --fontsize-cell: var(--fontsize-body-l);
  --fontsize-cell-header: var(--fontsize-body-l);
  --margin-bottom-table: var(--spacing-m);
  --spacing-cell: var(--spacing-m);
  --expanded-row-border-color: var(--color-black-30);

  width: 100%;
  border-collapse: collapse;
  text-align: left;
  margin: var(--spacing-l) 0;

  thead {
    tr {
      th {
        background-color: var(--background-color-cell-header);
        color: var(--color-cell-header);
        font-size: var(--fontsize-cell-header);
        font-weight: normal;
        text-align: left;
        padding: var(--spacing-cell);
      }
    }
  }

  tbody {
    tr {
      td {
        border: 1px solid transparent;
        border-bottom: none;
        background-color: var(--background-color-cell);
        color: var(--color-cell);
        font-size: var(--fontsize-cell);
        font-weight: normal;
        text-align: left;
        padding: var(--spacing-cell);
      }

      &:not(:first-child) {
        td {
          border-top: 1px solid var(--border-color-cell);
        }
      }
    }
  }
}

.formRow {
  margin: var(--spacing-l) 0;
  display: flex;
  column-gap: var(--spacing-l);
  white-space: nowrap;

  & > div {
    margin-top: 0 !important;
    width: 100%;
  }
}
