@import 'colours';

.deleteImageButton {
  --color-icon: var(--color-error);
  --color-text: var(--color-bus);
  --fontweight-text: 500;
}

.deleteIconWrapper {
  margin-right: var(--spacing-s);
  color: var(--color-icon);

  svg {
    display: block;
  }
}

.deleteImageButton {
  margin: auto;
  display: flex;
  margin-top: 42px;
  align-items: center;
  color: var(--color-text);
  font-weight: var(--fontweight-text);
}
