.backButton {
  --color-icon: var(--color-black-90);
  --color-text: var(--color-black-90);

  --fontsize-text: var(--fontsize-body-default);

  --fontweight-text: 500;

  --icon-size: 1.5rem;
}
.backButton {
  display: flex;
  align-items: center;
  color: var(--color-text);
  font-size: var(--fontsize-text);
  font-weight: var(--fontweight-text);
}

.backIconWrapper {
  height: var(--icon-size);
  width: var(--icon-size);
  margin-right: var(--spacing-xs);
  fill: var(--color-icon);

  svg {
    display: block;
  }
}