@import "layout";
@import "variables";

.eventsPage {
  padding-bottom: $paddingBottomPage;

  h1 {
    font-size: var(--fontsize-h-2);
    margin: 1rem 0 3rem;
  }

  h2 {
    font-size: var(--fontsize-h-3);
  }

  .eventCount {
    font-weight: normal;
    margin-left: 0.5rem;
  }

  .comingEventsTitleWrapper {
    display: grid;

    @include respond_above(sm) {
      grid-template-columns: 1fr auto;
    }
  }
}