@use '~styles/layout';
@use '~styles/variables';

.container {
  display: grid;
  grid-row: span;
  padding: variables.$basePadding 0;
  place-content: flex-start;

  grid-template-columns: 0.75rem 1fr 0.75rem;

  @include layout.respond-between(m, xxl) {
    grid-template-columns: 1fr 10fr 1fr;
  }

  @include layout.respond-above(xxl) {
    grid-template-columns: 1fr minmax(auto, variables.$containerMaxWidth) 1fr;
  }

  & > * {
    grid-column: 2;
  }

  &.xsmall {
    @include layout.respond-above(m) {
      grid-template-columns: 1fr minmax(auto, variables.$containerXSmallMaxWidth) 1fr;
    }
  }

  &.small {
    @include layout.respond-above(m) {
      grid-template-columns: 1fr minmax(auto, variables.$containerSmallMaxWidth) 1fr;
    }
  }
}
