@import 'layout';

.pageLayout {
  --background-color-body: #f7f6f6;
}

.pageLayout {
  min-height: 100vh;
  width: 100%;

  display: grid;

  grid-template-rows: auto 1fr auto;
}

.pageBody {
  display: grid;
  background-color: var(--background-color-body);

  @include respond-below(sm) {
    opacity: 1;
    transition: visibility 0.2s, opacity 0.2s;
  }

  &.mobileMenuOpen {
    @include respond-below(sm) {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.5s, opacity 0.5s;
    }
  }
}
