.additionalInfo {
  font-size: var(--fontsize-body-m);

  .contactInfo {
    margin-bottom: var(--spacing-s);

    span {
      margin-right: var(--spacing-m);
    }
  }

  .preferredTimes {
    margin-top: var(--spacing-s);
  }
}
