@import 'colours';

.wrapper {
  --background-color-menu: var(--color-white);
  --background-color-menu-item-highlighted: var(--color-black-10);

  --border-color-menu: var(--input-border-color-default);
  --fontsize-menu-item: var(--fontsize-body-medium);
  --spacing-menu-item: var(--spacing-s);
}

.wrapper {
  .dropdownMenu {
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0;
    background-color: var(--background-color-menu);
    border-radius: 1px;
    overflow-y: auto;
    max-height: 20rem;

    &.isOpen {
      list-style: none;
      margin-top: -2px;
      padding-top: 2px;
      outline: none;
      border: 2px solid var(--border-color-menu);
      border-top: none;
      z-index: 2;
    }

    li {
      list-style: none;
    }
  }

  .dropdownMenuItem {
    font-size: var(--fontsize-menu-item);
    padding: var(--spacing-menu-item);

    &:hover,
    &.isHighlighted {
      background-color: var(--background-color-menu-item-highlighted);
    }
  }
}
