@use '~styles/variables';
@use '~styles/layout';

.container {
  --header-fontsize: var(--fontsize-heading-l);
  --content-spacing: var(--spacing-l);
}

.container {
  text-align: center;
  padding: var(--spacing-4-xl) 0;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .iconWrapper {
    width: 3rem;
  }

  h1 {
    font-size: var(--header-fontsize);
    margin: var(--spacing-l) 0;
  }

  .description {
    max-width: 550px;
    line-height: var(--lineheight-l);
    margin: 0;
  }

  button {
    width: 300px;
    margin-top: var(--content-spacing);

    @include layout.respond-above(m) {
      margin-top: 4rem;
    }
  }
}
