@use '~styles/layout';
@use '~styles/variables';

.textEditor {
  --text-editor-border-width: 2px;
  --text-editor-border-color: var(--color-black-50);
  --text-editor-editor-max-height: 20rem;
  --text-editor-editor-min-height: var(--spacing-layout-2-xl);
  --text-editor-editor-background-color: white;
  --text-editor-toolbar-border-width: 1px;
  --text-editor-toolbar-border-color: var(--text-editor-border-color);
  --text-editor-toolbar-background-color: lightgray;
  --text-editor-editor-border-color: var(--text-editor-border-color);

  // Override CKEditor's theme variables
  --ck-border-radius: 0;
  --ck-focus-ring: var(--text-editor-border-width) solid
    var(--text-editor-editor-border-color);
  --ck-inner-shadow: none;
  --ck-color-toolbar-background: var(--text-editor-toolbar-background-color);
  --ck-color-toolbar-border: var(--text-editor-toolbar-border-color);
  --ck-color-base-background: var(--text-editor-editor-background-color);

  :global(.ck.ck-editor__top .ck-toolbar) {
    border: var(--text-editor-toolbar-border-width) solid
      var(--text-editor-toolbar-border-color);
    border-bottom: none;
  }

  :global(.ck.ck-editor__main > .ck-editor__editable) {
    border: var(--text-editor-border-width) solid
      var(--text-editor-editor-border-color);
    padding: 0 var(--spacing-s);
    min-height: var(--text-editor-editor-min-height);
    max-height: var(--text-editor-editor-max-height);
    font-size: var(--fontsize-body-l);

    &:global(.ck-focused) {
      box-shadow: 0 0 0 var(--outline-width) var(--focus-outline-color);
      transform: translateZ(0);
      transition: 85ms ease-out;
      transition-property: box-shadow, transform;
    }

    li {
      margin: var(--spacing-3-xs) 0;
    }
  }
}

.inputWrapper > div {
  display: block;
}

.invalid {
  --text-editor-editor-border-color: var(--color-error);
}
